{% extends "layout.njk" %}

{% block head %}
    <title>Portifolio - NANGIRO</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Aulas</h1>
    </div>

        <section class="cards">
            {% for item in items %}
                <div class="card" id="{{item.id}}">
                    <div class="CardImgContainer {{ 'featured-wrapper' if item.featured }}">
                        <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Imagem de {{item.title}}">
                        {% if item.featured %}
                            <div class="featured">Featured</div>
                        {% endif %}
                    </div>
                    <div class="CardContainer">
                        <p>{{item.title}}</p>
                    </div>
                    <div class="CardInfo">
                        <p>{{item.duration}}</p>
                        <p class="CardPrice">{{item.price}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>

    <!-- Modal = Tela estilo popup para assistir os videos -->
    <div class="ModalOverlay">
        <div class="modal">
            <a class="CloseModal">
                <i class="material-icons">close</i>
            </a>

            <div class="ModalContent">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

    <div id="linksFooterAulas" class="links">
        <a href="https://github.com/Nangiro" target="_blank">Github</a>
        <a href="https://br.linkedin.com/in/fernandokira" target="_blank">LinkedIn</a>
    </div>

{% endblock %}